### Sample survey analysis

This notebook does some simple analysis on the survey result.

In [4]:
import pandas as pd

# Read in the csv file
data_url = 'sample_survey.csv'
# Reading the data
df = pd.read_csv(data_url)
df

,Name something you never want your kid to bring home.,Name a profession that needs a raise.,"Name something that adults are afraid of, even though they shouldn’t be."
0,NaN,NaN,teenagers
1,Rabid Creature,Teacher,Public Speaking
2,a vape,docters,taxes
3,A boy,Teachers,Children
4,a bitten eraser,A McDonald's worker,Taxes
5,Drugs,Teachers,taxes
6,drugs,teaching,dong their taxes
7,A My Hero Academia Cosplay,Teaching,their boss asking them to come in for a meeting
8,snake,teachers,rollercoasters
9,A bear,mcdonalds worker,a bear
10,Lice,Teacher,Heights
11,Significant other,teaching,Girlfriends/Boyfriends
12,dead animal,Teacher,Boss
13,A corpse,Teaching,NaN
14,drugs,teacher,their children growing up
15,A girlfriend,Teacher,Students
16,Disease,Teacher,NaN
17,A bruise,Deli clerks,Kids
18,Bad grades,Teacher,The dark
19,a snake,these teachers,tiktok
20,Pbs Kids,Disney,Bad children
21,Drugs,Teaching,Ghosts
22,homework,teachers,spiders
23,Radioactive Materials.,Therapists,Taxes
24,a bad attitude,janitors,the IRS
25,A dead animal carcass,Teacher,Kids
26,A child,pizza delivery guy,heights
27,NaN,NaN,Heights
28,Alcohol,Teacher,Heights
29,Food,teacher,bugs
30,an attitude,cafeteria workers,teenagers
31,a pet snake,car mechanic,kids
32,legos,nurses,spiders
33,Drugs,Teacher,Tik Tok
34,A convict,teacher,spiders
35,Drugs,Doctors,Technology
36,a gun,teachers,taxes
37,a wild animal,teacher,bugs

In [5]:
column_name = 'Name something you never want your kid to bring home.'
df[column_name].value_counts(sort=True)

Drugs                         3
Rabid Creature                1
Food                          1
homework                      1
Radioactive Materials.        1
a bad attitude                1
A dead animal carcass         1
A child                       1
Alcohol                       1
an attitude                   1
a snake                       1
a pet snake                   1
legos                         1
Drugs                         1
A convict                     1
a gun                         1
Pbs Kids                      1
Bad grades                    1
a vape                        1
A bruise                      1
Disease                       1
A girlfriend                  1
drugs                         1
A corpse                      1
dead animal                   1
Significant other             1
Lice                          1
A bear                        1
snake                         1
A My Hero Academia Cosplay    1
drugs                         1
a bitten eraser               1
A boy                         1
a wild animal                 1
Name: Name something you never want your kid to bring home., dtype: int64

In [6]:
column_name = 'Name something you never want your kid to bring home.'
df[column_name].str.strip().str.lower().value_counts(sort=True)

drugs                         6
rabid creature                1
a snake                       1
a gun                         1
a convict                     1
legos                         1
a pet snake                   1
an attitude                   1
food                          1
alcohol                       1
a child                       1
a dead animal carcass         1
a bad attitude                1
radioactive materials.        1
homework                      1
pbs kids                      1
bad grades                    1
a vape                        1
a bruise                      1
disease                       1
a girlfriend                  1
a corpse                      1
dead animal                   1
significant other             1
lice                          1
a bear                        1
snake                         1
a my hero academia cosplay    1
a bitten eraser               1
a boy                         1
a wild animal                 1
Name: Name something you never want your kid to bring home., dtype: int64

In [7]:
df[column_name].describe()

count        36
unique       34
top       Drugs
freq          3
Name: Name something you never want your kid to bring home., dtype: object

In [8]:
for column in df:
      
      # process each column
      print('======================================================================')
      print('Column Name : ', column)
      print('======================================================================')
      print('====== column statistics: ======')
      print(df[column].describe())
      print('====== column value counts: ======')
      print(df[column].str.strip().str.lower().value_counts(sort=True))

======================================================================
Column Name :  Name something you never want your kid to bring home.
======================================================================
====== column statistics: ======
count        36
unique       34
top       Drugs
freq          3
Name: Name something you never want your kid to bring home., dtype: object
====== column value counts: ======
drugs                         6
rabid creature                1
a snake                       1
a gun                         1
a convict                     1
legos                         1
a pet snake                   1
an attitude                   1
food                          1
alcohol                       1
a child                       1
a dead animal carcass         1
a bad attitude                1
radioactive materials.        1
homework                      1
pbs kids                      1
bad grades                    1
a vape                        1
a bruise                      1
disease                       1
a girlfriend                  1
a corpse                      1
dead animal                   1
significant other             1
lice                          1
a bear                        1
snake                         1
a my hero academia cosplay    1
a bitten eraser               1
a boy                         1
a wild animal                 1
Name: Name something you never want your kid to bring home., dtype: int64
======================================================================
Column Name :  Name a profession that needs a raise.
======================================================================
====== column statistics: ======
count          36
unique         24
top       Teacher
freq            8
Name: Name a profession that needs a raise., dtype: object
====== column value counts: ======
teacher                13
teachers                5
teaching                5
docters                 1
a mcdonald's worker     1
mcdonalds worker        1
deli clerks             1
these teachers          1
disney                  1
therapists              1
janitors                1
pizza delivery guy      1
cafeteria workers       1
car mechanic            1
nurses                  1
doctors                 1
Name: Name a profession that needs a raise., dtype: int64
======================================================================
Column Name :  Name something that adults are afraid of, even though they shouldn’t be.
======================================================================
====== column statistics: ======
count          36
unique         29
top       Heights
freq            3
Name: Name something that adults are afraid of, even though they shouldn’t be., dtype: object
====== column value counts: ======
taxes                                              5
heights                                            4
kids                                               3
spiders                                            3
teenagers                                          2
bugs                                               2
tik tok                                            1
the irs                                            1
ghosts                                             1
bad children                                       1
tiktok                                             1
the dark                                           1
their children growing up                          1
students                                           1
public speaking                                    1
boss                                               1
girlfriends/boyfriends                             1
a bear                                             1
rollercoasters                                     1
their boss asking them to come in for a meeting    1
dong their taxes                                   1
children                                           1
technology                                         1
Name: Name something that adults are afraid of, even though they shouldn’t be., dtype: int64

In [9]:
# write results to file
import sys
original_stdout = sys.stdout # Save a reference to the original standard output

with open('sample_survey_result.txt', 'w') as f:
  sys.stdout = f # Change the standard output to the file we created.

  # Iterate over each column
  for column in df:
      
      # process each column
      print('======================================================================')
      print('Column Name : ', column)
      print('======================================================================')
      print('====== column statistics: ======')
      print(df[column].describe())
      print('====== column value counts: ======')
      print(df[column].str.strip().str.lower().value_counts(sort=True))

  # close the file
  f.close()

# change the standard output back
sys.stdout = original_stdout # Reset the standard output to its original value